{% extends 'base.html' %}

{% block title_name %}<h1>Nasza oferta</h1>{% endblock %}


{% block main %}
  <div class="row justify-content-md-center" style="height: 700px;">
    {% for car in car_list %}
	    <div class="col-sm-4 text-center mb-3">
            {% if car.checked == True %}
            <div class="card border-danger bg-danger" style="border-radius: 5.25rem !important;">
            {% else %}
            <div class="card" style="border-radius: 5.25rem !important;">
            {% endif %}
                <img class="card-img-top" height="250" src="{{car.photo}}" alt="Obrazek w karcie">
                <div class="card-body">
                <p class="card-text"><a href="{% url 'car_detail' car.id %}" class="btn btn-info">Szczegóły</a></p>
            </div>


    </div>
    </div>
    {% endfor %}
        </div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
<div class="row justify-content-md-center">
        <div class="btn-group">

{% if page_obj.has_previous %}

<a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}"><-</a>
{% else %}
<a class="btn btn-secondary disabled" href="##"><-</a>
{% endif %}

       <div class="btn btn-secondary disabled"> Strona {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</div>

{% if page_obj.has_next %}

<a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">-></a>
{% else %}
    <a class="btn btn-secondary disabled" href="##">-></a>
{% endif %}
        </div>
        </div>
{% endif %}

{% endblock %}