{% load staticfiles %}

<html>
<head>
	<title>Wypożyczalnia</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<section id='nav' class='container'>
	<div class='row'>
	<div class="col">
		<h1>Wypożyczalnia</h1>
	</div>
	<div class="col-8 text-right">
    {% if request.user.is_staff %}
    <!-- Admin -->
        <div class="btn-group" role="group">

            <a href="{% url 'list_profil' %}" class="btn btn-danger">Klienci</a>
            <a href="{% url 'car_create' %}" class="btn btn-danger">Dodaj auto</a>
            <a href="{% url 'raport_list' %}" class="btn btn-danger">Raporty</a>
        </div>
    {% endif %}
		<div class="btn-group" role="group">
        <a href="{% url 'car_list' %}" class="btn btn-secondary">Główna</a>
            {% if request.user.is_authenticated %}
  <a href="{% url 'profil' %}" class="btn btn-secondary">Profil</a>
  <a href="{% url 'logout' %}" class="btn btn-secondary">Wyloguj</a>
            {% else %}
  <a href="{% url 'login' %}" class="btn btn-secondary">Zaloguj</a>
   <button type="button" class="btn btn-secondary">Zarejestruj</button>
            {% endif %}
</div>
</div>
  </div>
</div>
	</div>
</section>

<main id='container' class='container'>
	<div class="row justify-content-md-center">
    <div class="col-md-auto">
      {% block title_name %}<h1>Title</h1> {% endblock%}
    </div>
  </div>
  	{% block main %}

      {% endblock %}
</main>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
{% block pop-up %}{% endblock %}
</body>
</html>