
{% extends 'base.html' %}

{% block title_name %}<h1>Lista rezerwacji</h1>{% endblock %}

{% block main %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Użytkownik:</th>
      <th>Samochód:</th>
      <th>Data:</th>
    </tr>
  </thead>
  <tbody>
  {% for raport in raport_list %}
      <tr>
      <th scope="row">#</th>
    <td>{{ raport.client }}</td>
    <td>{{ raport.car }}</td>
    <td>{{ raport.data }}: {{ raport.time }}</td>
      </tr>
{% endfor %}



  </tbody>
</table>
{% endblock %}





<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>