{% extends 'base.html' %}





{% block title_name %}<h1>Szczegóły rezerwacji</h1>{% endblock %}

{% block main %}
    {% if raport.active == False %}
        <div class="row justify-content-md-center">
  {% else %}
        <div class="row justify-content-md-center">
  {% endif %}
<div class="card col">

  <div class="card-body">
    <h4 class="card-title">Raport</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Dzień: {{ raport.data }}</li>
    <li class="list-group-item">Godzina: {{ raport.time }}</li>
    <li class="list-group-item">Status: <span class="badge badge-warning"> {{ raport.status }}</span></li>
    <li class="list-group-item">Przyją | Odrzucił zgłoszenie: <span class="badge badge-warning">{{ raport.worker_accept }}</span></li>
    <li class="list-group-item">Wypożyczył: <span class="badge badge-success">{{ raport.worker }}</span></li>
    <li class="list-group-item">Odebrał: <span class="badge badge-success">{{ raport.worker_reject }}</span></li>

  </ul>
</div>

<div class="card col">
  <div class="card-body">
    <h4 class="card-title">Dane Pojazdu</h4>
  </div>
 <ul class="list-group list-group-flush">

   <li class="list-group-item">Model: {{car.model}}</li>
     <li class="list-group-item">Marka: {{car.mark}}</li>
    <li class="list-group-item">Skrzynia: {{car.get_gearbox_display}}</li>
    <li class="list-group-item">Paliwo: {{car.get_fuel_display}}</li>
    <li class="list-group-item">Typ: {{car.get_type_display}}</li>
    <li class="list-group-item">
        <div class="input-group mb-3"><div class="input-group-prepend"> <span class="input-group-text">PLN</span></div> <span class="form-control">{{car.charge}}</span><div class="input-group-append"> <span class="input-group-text">,00</span></div></div>
    </li>
     {% if car.checked == True %}
     <li class="list-group-item">Wypożyczony: Tak</li>
     {% else %}
     <li class="list-group-item">Wypożyczony: Nie</li>
     {% endif %}
    <li class="list-group-item"><a href="{% url 'car_detail' car.id %}" class="btn btn-info">Podgląd</a> </li>

  </ul>
</div>

<div class="card col">

  <div class="card-body">
    <h4 class="card-title">Dane Klienta</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nazwa użytkownika: {{user.nickname}}</li>
    <li class="list-group-item">Imię: {{user.user.first_name}}</li>
    <li class="list-group-item">Nazwisko: {{user.user.last_name}}</li>
    <li class="list-group-item">Pesel: {{user.pesel}}</li>
    <li class="list-group-item">Telefon: {{user.tel}}</li>
    <li class="list-group-item">Członek: {{user.group}}</li>
    <li class="list-group-item"><a href="{% url 'profil_id' user.user.id %}" class="btn btn-outline-secondary">Pokaż profil</a></li>
  </ul>


</div>
  </div>
    {% if raport.deleted == True %}
            <input type="button" class=" col btn bg-danger m-3" value="Raport usunięty">
            {% else %}
      <div class="row justify-content-md-center">
    {% if request.user.client.group == "Pracownik"  or request.user.client.group == "Admin" %}


        {% if car.checked == False and raport.status == "W trakcie realizacji" %}
        <a href="{% url 'raport_accept' raport.id %}" type="button" class=" col btn btn-success m-3">Potwierdz wypożyczenie</a>
            <a href="{% url 'raport_car_reject' raport.id %}" type="button" class=" col btn btn-dark m-3">Odrzuć wyporzyczenie</a>
        {% endif %}
        {% if raport.status == "Gotowy do odbioru" %}
            <a href="{% url 'raport_car_accept' raport.id %}" type="button" class=" col btn btn-success m-3">Wydaj samochód</a>
            <a href="{% url 'raport_car_reject' raport.id %}" type="button" class=" col btn btn-dark m-3">Odrzuć wyporzyczenie</a>
        {% elif raport.status == "Wydany" %}
            <a href="{% url 'raport_car_done' raport.id %}" type="button" class=" col btn btn-primary m-3">Odbierz samochód</a>
            {% endif %}

        {% endif %}

      </div>
    {% if request.user.client.group == "Kierownik" or request.user.client.group == "Admin" %}

        <div class="row justify-content-md-center">

            <input type="button" class=" col btn btn-danger m-3" data-toggle="modal" data-target="#potwierdzenie" value="Usuń raport">

        </div>
            {% endif %}
    {% endif %}
{% endblock %}

{% block pop-up %}
<div class="modal" id="potwierdzenie" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usunięcie raportu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Czy na pewno chcesz usunąć ten raport?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <a href="{% url 'raport_delete' raport.id %}" type="button" class="btn btn-danger">Potwierdz</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
