{% extends 'base.html' %}

{% block title_name %}<h1>Zmiana hasła</h1>{% endblock %}

{% block main %}
<div class="row justify-content-md-center">
{% if request.user.is_authenticated %}
    <div class="col-3">
    <img class="col" src="{{ user.client.avatar }}"/>
    </div>
    <div class="col-6">
<form  method="post" class="post-form">{% csrf_token %}
<input name="user_id" value="{{ user.id }}" hidden/>
    <div class="form-control">

     <div class="form-group ">
      <label for="activ_pass">Aktualne hasło:</label>
      <input type="password" class="form-control" id="activ_pass" name="activ_pass">
    </div>
    <div class="form-group ">
      <label for="pass1">Hasło:</label>
      <input type="password" class="form-control" id="pass1" name="pass1">
              <label for="pass2">Powtórz hasło:</label>
      <input type="password" class="form-control" id="pass2" name="pass2">
    </div>
</div>
        <input class="btn btn-outline-secondary" value="Zapisz" type="submit">
    {% if info %}
<span class="btn bg-danger text-white float-right">{{ info }}</span>
    {% endif %}
        </form>
</div>
{% endif %}

 </div>



{% endblock %}