{% extends 'base.html' %}

{% block title_name %}<h1>Lista Klientów</h1>{% endblock %}

{% block main %}
{% if request.user.is_authenticated %}

<table class="table ">
  <thead>
    <tr>
      <th>#</th>
    {% if request.user.is_staff %}
       <th>Login:</th>
   {% endif %}
      <th>Nick:</th>
      <th>Imię:</th>
      <th>Nazwisko:</th>
      <th>Grupa:</th>
      <th>Operacje:</th>

    </tr>
  </thead>
  <tbody>
  {% for pk in user_list %}
      <tr>
    <th scope="row">#</th>

   {% if request.user.is_staff %}
       <td>{{ pk.username }}</td>
   {% endif %}

    <td>{{ pk.client.nickname }}</td>
    <td>{{pk.first_name}}</td>
    <td>{{pk.last_name}}</td>
    <td>{{pk.client.group}}</td>
    <td> <a href="{% url 'profil_id' pk.id %}" class="btn btn-outline-secondary">Pokaż profil</a></td>

      </tr>
{% endfor %}
  </tbody>
</table>


{% else %}
<div class="row justify-content-md-center">
  <div class="card text-white bg-warning">
  <div class="card-header">Error xD</div>
  <div class="card-body">
    <h5 class="card-title">Nie masz dostępu do tej witryny</h5>
    <p class="card-text">Zapłać a pomyślimy :D</p>
  </div>
 </div>
{% endif %}
{% endblock %}






