{% extends 'base.html' %}

{% block title_name %}<h1>Zaloguj się</h1>{% endblock %}

{% block main %}
<div class="row justify-content-md-center">
{% if request.user.is_authenticated %}

  <div class="card text-white bg-warning mb-3">
  <div class="card-header">Status</div>
  <div class="card-body">
    <h5 class="card-title">Jesteś już zalogowany</h5>

  </div>
 </div>
{% else %}
<form action="/profil/login/" method="post" class="post-form">{% csrf_token %}

    <div class="form-control">
    <label for="username">Użytkownik:</label>

        <input id="username" maxlength="20" required="" name="username" type="text" class="form-control">

    <label for="password">Hasło:</label>

        <input id="password" maxlength="20" required="" name="password" type="password" class="form-control">


        <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LejaVoUAAAAAKZEkKxEf5DGM2hQ0aIOB7DGY2Kx"></div>
        <br>
        <input class="btn btn-outline-secondary" value="Zaloguj" type="submit">

    </div></form>
    </div>
{% endif %}
{% endblock %}