{% extends 'base.html' %}

{% block title_name %}<h1>Zaloguj się</h1>{% endblock %}
{% block head %}{% endblock %}
{% block main %}
<div class="row justify-content-md-center">
{% if request.user.is_authenticated %}

  <div class="card text-white bg-warning mb-3">
  <div class="card-header">Status</div>
  <div class="card-body">
    <h5 class="card-title">Jesteś już zalogowany</h5>

  </div>
 </div>
{% else %}
<form action="/profil/test/" method="post" class="post-form">{% csrf_token %}
    {{ form.as_p }}

        <input class="btn btn-outline-secondary" value="Zaloguj" type="submit">

   </form>

<script src='https://www.google.com/recaptcha/api.js'></script>
    </div>
{% endif %}
{% endblock %}