<!DOCTYPE html>
<html>
<head>
	<title>Wypożyczalnia</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
<section id='nav' class='container-fluid row'>
	<div class="col-6">
		<h1>Wypożyczalnia</h1>
	</div>
	<div class="col">
		<div class="btn-group" role="group" aria-label="Normalne przyciski">
  <button type="button" class="btn btn-secondary">Wypożyczenia</button>
  <button type="button" class="btn btn-secondary">Profil</button>
  <button type="button" class="btn btn-secondary">Wyloguj</button>
</div>
  </div>
</div>
	</div>
</section>

<main id='container' class='container'></main>
</body>
</html>