<html>
<head>
    <meta charset="utf-8"/>
    <style>
        img{height: 100px;}
        #block{width: 300px; margin: 0 auto;}
        div{text-align: center;}
        a{display:block;text-decoration:none;padding: 10px; background-color: palegreen; coursor:pointer;}
    </style>

</head>
<body>


<div id="block">
    <h1>{{car.model}}</h1>
    {{car.marka}}<br>
    {{car.skrzynia}}<br>
    {{car.paliwo}}<br>
    {{car.typ}}<br>
    {{car.koszt}}<br>


<a href="{% url 'index' %}">Wróć na główną</a>
</div>
</body>
</html>