<html>
<head>
    <meta charset="utf-8"/>
    <style>
        img{height: 100px;}
        #block{width: 300px; margin: 0 auto;}
        div{text-align: center;}
        a{display:block;text-decoration:none;padding: 10px; background-color: palegreen; coursor:pointer;}
    </style>

</head>
<body>


<div id="block">
{% for car in car_list %}


<div>
    <h1>{{car.model}} {{car.marka}} {{car.koszt}}</h1>
<img src="{{car.img}}"/>
<a href="{% url 'details' car.id %}">Zobacz szczegóły</a>
</div>

{% endfor %}
</div>
</body>
</html>