{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Wypożyczalnia</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{CSS_URL}}/bootstrap.css">
	<script type="text/javascript" src="{{JS_URL}}bootstrap.js"></script>
</head>
<body>
<section id='nav' class='container'>
	<div class='row'>
	<div class="col">
		<h1>Wypożyczalnia</h1>
	</div>
	<div class="col text-right">
		<div class="btn-group" role="group">
  <button type="button" class="btn btn-secondary">Wypożyczenia</button>
  <button type="button" class="btn btn-secondary">Profil</button>
  <button type="button" class="btn btn-secondary">Wyloguj</button>
</div>
</div>
  </div>
</div>
	</div>
</section>

<main id='container' class='container'>
	<div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>Nasza oferta</h3>
    </div>
  </div>
{% block car %}
  <div class="row justify-content-md-center">
  	
    <div class="col-sm-4 text-center ">
    	   <div class="card border-danger">
  			<img class="card-img-top" height="250" src="http://demo.sc.chinaz.com/Files/pic/icons/1499/chinaz3.png" alt="Obrazek w karcie">
  		<div class="card-body">
    	<p class="card-text"><button type="button" class="btn btn-outline-info">Szczegóły</button></p>
  		</div>
		</div>
    </div>
    <div class="col-sm-4 text-center">
	    	    <div class="card">
  <img class="card-img-top" height="250" src="http://demo.sc.chinaz.com/Files/pic/icons/1499/chinaz3.png" alt="Obrazek w karcie">
  <div class="card-body">
    <p class="card-text"><button type="button" class="btn btn-outline-info">Szczegóły</button></p>
  </div>
</div>

    </div>
    <div class="col-sm-4 text-center">
  		<div class="card">
  		<img class="card-img-top" height="250" src="http://demo.sc.chinaz.com/Files/pic/icons/1499/chinaz3.png" alt="Obrazek w karcie">
  <div class="card-body">
    <p class="card-text"><button type="button" class="btn btn-outline-info">Szczegóły</button></p>
  </div>
</div>
    </div>
</div>
{% endblock %}
</main>
</body>
</html>